@media (max-width: 600px) {
  nav a{
    display: block;
    margin: 10 px 0;
  }
}

/*how to make the hamburger show on both laptop and phone*/
/*explain this code*/
#menu-toggle{
  display: none;
}
.hamburger{
  font-size: 30px;
  color: white;
  display: none;
  cursor: pointer;
}
/*MOBILE MENU*/
@media (max-width: 600px) {
  .hamburger{
    display: block;
    text-align: right;
    padding: 10px;
  }
}
nav .menu{
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: white;
  }
#menu-toggle:checked + .hamburger + .menu{
    display: block;
  }
nav .menu a{
    margin: 10px 0;
  }

.btn{
  display: inline-block;
  padding: 10px 15px; /*explain*/
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}
.btn hover{
  background-color: black;
}

/*DARK MODE*/
body.dark{
 background-color: #111;
 color: white;
}
body.dark .fill{
  background-color: yellow;
}
body.dark #contact a {
  color: lightskyblue;
}
/*SKILLS not working*/
.track{
  background: lightgray;
  width: 10%;
  height: 8px;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
}
.fill{
  background: rgb(72, 150, 72);
  height: 8px;
  border-radius: 10px;
  animation: loads 2s forwards;
}

@keyframes load{
  to{
    width: var(--level);;
  }
}

/*FOOTER*/
footer{
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
footer a{
  color: white;
}